body {
  background-color: rgb(44, 42, 51);
  color: white;
}

.header {
  background-color: transparent;
}

.centerMed {
  text-align: center;
  font-size: 16pt;
}

.pushRight {
  text-align: right;
}

.headImage {
  width: 100%;
  height: auto;
}

.medFont {
  font-size: larger;
}

#result1 {
  display: none;
}

#js {
  width: 300px;
  height: auto;
}

#c {
  width: 300px;
  height: auto;
}

#python {
  width: 300px;
  height: auto;
}

#result2 {
  display: none;
}
#result3 {
  display: none;
}