body {
  background-color: rgb(142, 138, 153);
  color: white;
}

img {
  opacity: 0.5;
}

.header {
  background-color: transparent;
}

.quiz {
  margin-top: 500px;
  color: white;
}

.centerMed {
  text-align: center;
  font-size: 16pt;
}

.pushRight {
  text-align: right;
}

.headImage {
  width: 100%;
  height: auto;
}

.medFont {
  font-size: larger;
}

.card {
  background-color: rgb(108, 119, 150);
  border: solid white 1px;
  float: left;
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 28%;
  height: 225px;
}

#firstQuestion {
  width: 75%;
}

#secondQuestion {
  width: 75%;
}

#thirdQuestion {
  width: 75%;
}

#fourthQuestion {
  width: 75%;
}

#fifthQuestion {
  width: 75%;
  height: 100%;
}

#result1 {
  display: none;
}

#result2 {
  display: none;
}

#result3 {
  display: none;
}

#js {
  width: 300px;
  height: auto;
}

#c {
  width: 300px;
  height: auto;
}

#python {
  width: 300px;
  height: auto;
}